.aside {
  position: fixed;
  left: 0;
  top: var(--height-header);
  bottom: 0;
  background-color: var(--color-bg-white);
}
.main {
  margin-top: var(--height-header);
  margin-left: var(--width-menu-default);
  background-color: var(--color-bg-white);
}
.main.wide {
  margin-left: var(--width-menu-wide);
}
.main.mobile {
  margin-left: 0;
}
