.video-list {
  padding: 20px 18px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  row-gap: 40px;
}

/* 반응형 */
@media (min-width: 1920px) {
  .video-list {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 1424px) {
  .video-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1100px) {
  .video-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 720px) {
  .video-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
