.img-wrap {
  overflow: hidden;
  position: relative;
}
.img-wrap img {
  width: 100%;
  border-radius: 10px;
}
.img-wrap iframe {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.img-wrap .youtube {
  pointer-events: none;
}
.desc-wrap {
  padding-top: 12px;
  display: flex;
  background-color: var(--color-bg-white);
}
.desc-wrap .profile {
  margin-right: 12px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.desc-wrap .desc {
  width: 100%;
}
.desc h3 {
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.desc p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  color: var(--color-text-gray1);
}
.desc .count {
  display: flex;
  gap: 6px;
}
.desc .count span {
  font-size: 14px;
  color: var(--color-text-gray1);
}
